.angular-config.json
        .conda/
        .condarc
        .cufflinks/
        .emulator_console_auth_token
        .idlerc/
        .ipynb_checkpoints/
        .ipython/
        .jupyter/
        .matplotlib/
        .node_repl_history
        .npmrc
        3D Objects/
        AndroidStudioProjects/
        Basic Syntax (1).docx
        COVID19-Part2-01-10-2020.ipynb
        Companies-profit.csv
        Contacts/
        Covid19-Part-1-01-10-2020.ipynb
        Creative Cloud Files/
        Data Cleaning-EX1-23-09-2020.ipynb
        Data Cleaning-EX2- 23-09-2020.ipynb
        Data Types Part -1.doc
        Data Types Part -2.docx
        Decision Tree Random forest.py
        Decision_Tree_ Dataset -1.csv
        Disease.csv
        Eat a balanced diet Include a varie.txt
        Excel_Sample (1).xlsx
        Exercise problems for Functions (2).pdf
        Favorites/
        Flow control (1).ipynb
        Functions - Notebook file  (2).ipynb
        IntelGraphicsProfiles/
        Intro to Folium Maps-25-09-2020.ipynb
        KMeans.py
        LR.py
        Links/
        Logistic (1).py
        Matplotlib Concepts.ipynb
        MicrosoftEdgeBackups/
        Mini Project-Discussion-13-10-2020 .ipynb
        Music/
        NTUSER.DAT
        NTUSER.DAT{fe52d43f-e3c4-11ee-85d6-b204e85e7027}.TM.blf
        NTUSER.DAT{fe52d43f-e3c4-11ee-85d6-b204e85e7027}.TMContainer00000000000000000001.regtrans-ms
        NTUSER.DAT{fe52d43f-e3c4-11ee-85d6-b204e85e7027}.TMContainer00000000000000000002.regtrans-ms
        Naive Baye.py
        Numpy Part 3.ipynb
        Numpy-part1.ipynb
        Numpy-part2.ipynb
        OneDrive/
        Online-School-Management-App-Angular-Firebase-master/
        Operators.ipynb
        PR1.py
        PandaAssignment 1-Solution.ipynb
        PandaAssignment-2-Solution.ipynb
        Pandas Built-in Data Visualization-21-09-2020-ref.ipynb
        Pandas Dataframe-Part1 (1).ipynb
        Pandas Series-15-09-2020  (1).ipynb
        Pandas-18-09-2020.ipynb
        Pandas-Dataframe2-17-09-2020.ipynb
        Pictures/
        Plotly and Cufflink-25-09-2020.ipynb
        Saved Games/
        Seaborn -22-09-2020.ipynb
        Searches/
        Smitha ML Project.ipynb
        Smitha_Assign2.ipynb
        Smitha_Covid19_proj.ipynb
        Smitha_assignment2.ipynb
        Smitha_miniproj.ipynb
        Social_Network_Ads.csv
        Statistic.py
        Support vector Machine.py
        Untitled.ipynb
        Untitled1.ipynb
        Untitled10.ipynb
        Untitled11.ipynb
        Untitled12.ipynb
        Untitled13.ipynb
        Untitled14.ipynb
        Untitled15.ipynb
        Untitled16.ipynb
        Untitled17.ipynb
        Untitled18.ipynb
        Untitled19.ipynb
        Untitled2.ipynb
        Untitled3.ipynb
        Untitled4.ipynb
        Untitled5.ipynb
        Untitled6.ipynb
        Untitled7.ipynb
        Untitled8.ipynb
        Untitled9.ipynb
        Videos/
        VirtualBox VMs/
        aaa.py
        aaaaaaa1.py
        appflutter/
        beeeh.py
        blacksheep.py
        blacksheep1.py
        codelab-friendlychat-android/
        covid_19_world.csv
        debug.log
        df1.csv
        df11.csv
        df12.csv
        df2.csv
        df3.csv
        df31.csv
        df32.csv
        diabetes.csv
        example (1).csv
        functions exercie.ipynb
        goldenhour.py
        hahaha.py
        hello.py
        homeprices.csv
        homepricesage.csv
        india_statewise.json
        insurance_data.csv
        java_error_in_studio_11268.log
        jud;ihw.py
        kkkkkk.py
        lead_scoring_model.pkl
        left.csv
        left2.csv
        magic pony.py
        mod1.py
        mod2.py
        node_modules/
        ntuser.dat.LOG1
        ntuser.dat.LOG2
        ntuser.ini
        nump panda Assignment-2-Solution (1).ipynb
        nump panda Assignment1.ipynb
        package-lock.json
        package.json
        population_india_census2011.csv
        pr2.py
        pr3.py
        pr4.py
        pr5.py
        pr7.py
        procfile
        python 1.py
        python questionans.ipynb
        right.csv
        right2.csv
        seaborn-data/
        smi.txt
        spam - 1.csv
        story.txt
        student.dat
        time_series_covid_19_confirmed (1).csv
        titanic.csv
        top-5000-youtube-channels.csv
        untitled.txt
        worldwide_happiness_report (1).csv
        xia1.py
.vercel
